[submodule "bucket-db"]
	path = bucket-db
	url = https://gitlab.com/nrgroup/question-bucket/bucket-db.git
[submodule "bucket-email-templates"]
	path = bucket-email-templates
	url = https://gitlab.com/nrgroup/question-bucket/bucket-email-templates.git
