<footer th:fragment="footer">
    <div class="footer-container">
        <div class="fct-block">
            <div class="fct-title">
                Question Bucket
            </div>
            <div class="fcc-content">
                <a>Question</a>
                <a href="/faq">FAQ</a>
                <a>Help</a>
            </div>
        </div>
        <div class="fct-block">
            <div class="fct-title">Product</div>
            <div class="fcc-content">
                <a>Team</a>
                <a>Advance</a>
                <a>Online Videos</a>
                <a href="/create-question-answer">Doubts</a>
            </div>
        </div>
        <div class="fct-block">
            <div class="fct-title">Company</div>
            <div class="fcc-content">
                <a href="/about">About</a>
                <a href="/terms-conditions">Legal</a>
                <a href="/privacy-policy">Privacy & Policy</a>
                <a>Security</a>
                <a href="/terms-conditions">Term & Service</a>
                <a href="/contactus">Contact Us</a>
            </div>
        </div>
        <div class="fct-block">
            <div class="fct-title">Popular Goals</div>
            <div class="fcc-content">
                <div>Exams</div>
                <!-- <div>SSC Exams</div>
                <div>JEE Mains</div>
                <div>JEE Advance</div> -->
            </div>
        </div>
    </div>
    <link rel="preload" href="/css/component/footer.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
</footer>