<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot User</title>
    <link rel="stylesheet" href="/css/forgot/userdata.css">
</head>

<body>
    <div class="container">
        <form action="/forgot/userdata" method="post">
            <input type="text" name="csrf" th:value="${csrf}" hidden />
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" oninput="this.value = this.value.toLowerCase()"
                    name="email" placeholder="Enter email" required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <script defer>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error')) {
            alert(urlParams.get('error'));
        }
    </script>
</body>

</html>