<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get all your doubts clear on this platform in just a minute.">
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="icon" href="/favicon.ico">
</head>

<body>
    <div th:replace="component/header-index :: header"></div>
    <div class="sec">
        <div class="content">
            <div class="content-title">ABOUT QUESTION BUCKET</div>
            <div class="content-body">Question Bucket is a platform where you can ask questions and get your answers.you
                can
                also edit /update question asked by another person, Here, you will definately find your answer&apos;s.
            </div>
        </div>
        <div class="content-image"><img src="/images/about2.jpg" alt="image"></div>
    </div>
    <div class="sec">
        <div class="content-image"><img src="/images/about1.jpg" alt="image"></div>
        <div class="content">
            <div class="content-title">WHAT WE DO?</div>
            <div class="content-body">Our Website is help you to find answers of your question&apos;s and you can also
                answers
                which are asked by another
                candidates and later you also update and edit it.</div>
        </div>
    </div>
    </div>
    <div th:replace="component/footer :: footer"></div>

</body>

</html>