<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Log into Question Bucket start asking questions and share.">
    <title>Login</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/images/logo.svg" alt="logo"></a>
        <button class="header-nav-toggle" id="header-nav-toggle" aria-expanded="false"></button>
        <div class="header-nav" id="header-nav" aria-hidden="true">
            <a href="/">HOME</a>
            <a class="sign-up-block" href="/register">
                <img src="/images/right_arrow.png" alt="right-arrow">
                SIGN&nbsp;UP
            </a>
        </div>
    </header>
    <div class="container">
        <div class="section">
            <span>Login</span>
            <span></span>
            <div class="section-text">
                Welcome! Login to access the Questoin Bucket<br>
                Did you <a href="/forgot/userdata">forgot your password?</a>
            </div>
            <form action="/login" method="post">
                <input type="text" name="email" placeholder="EMAIL" oninput="this.value = this.value.toLowerCase()"
                    autocomplete="email">
                <input type="password" name="password" placeholder="PASSWORD">
                <button type="submit">CONTINUE TO LOGIN</button>
            </form>
        </div>
    </div>
    <script defer src="/js/login.js"></script>
</body>

</html>